{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}Configurations -- General Settings{% endblock %}

{% block page_title %}Configurations{% endblock %}
{% block page_subtitle %}General Settings{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-3">
            {% set setting_subMenuItem = 'general' %}
            {% include 'settings/settings_submenu/settings-menu.html.twig' %}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gears"></i> Company's settings</h4>
                </div>
                <div class="panel-body">
                    {{ form(form) }}
                    <div class="box-footer">
                        <button type="button" id="companySettingsEditButton" class="btn btn-primary pull-right" data-toggle="modal" data-target="#companySettingsEdit">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="companySettingsEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/settings/companySettings.js') }}"></script>
{% endblock %}