
<div class="box box-primary">
    <ul class="list-group box-body">
        <li class="list-group-item {% if setting_subMenuItem == 'general' %}list-group-item-info {% endif %}">
            <a href="{{ path('app_company_settings') }}">General</a>
        </li>
        <li class="list-group-item {% if setting_subMenuItem == 'users' %}list-group-item-info {% endif %}">
            <a href="{{ path('app_users_list') }}">Users</a>
        </li>
        <!--<li class="list-group-item {% if setting_subMenuItem == 'roles_permissions' %}list-group-item-info {% endif %}">
            <a href="">Roles & permissions</a>
        </li> -->
        <li class="list-group-item {% if setting_subMenuItem == 'measurements_unites' %}list-group-item-info {% endif %}">
            <a href="{{ path('app_measuring_unit_list') }}">Measurements unities</a>
        </li>
        <li class="list-group-item {% if setting_subMenuItem == 'payments_modes' %}list-group-item-info {% endif %}">
            <a href="">Payments Modes</a>
        </li>
        <li class="list-group-item {% if setting_subMenuItem == 'vats_taxes' %}list-group-item-info {% endif %}">
            <a href="{{ path('app_settings_vat') }}">VAT & Taxes</a>
        </li>
    </ul>
</div>