{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block page_title %}Configurations{% endblock %}
{% block page_subtitle %}General Settings{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-md-3">
            {% include 'settings_submenu/settings-menu.html.twig' %}
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Company's settings
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
{% endblock %}