<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header bg-blue-gradient">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit VAT</h4>
        </div>
        {{ form_start(form, { 'attr': {'onsubmit': 'saveItemChanges(this, event)' } }) }}
        <div class="modal-body">
            {{ form_row(form.value) }}
            <input type="hidden" id="item_id"  value="{{ vatEntry.id }}">
        </div>
        <div class="modal-footer">
            <button type="button" class="pull-left btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="pull-right btn btn-success">Save</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>