<!DOCTYPE html{% block html_start %}{% endblock %}>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}
    <title>{% block title %}AdminLTE 2 | Log in{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/adminlte/adminlte.css') }}">
    {% endblock %}
</head>
<body{% block body_start %}{% endblock %} class="hold-transition login-page">
{% block after_body_start %}{% endblock %}
{% block login_box %}
    <div class="login-box">
        <div class="login-logo">
            {% block logo_login %}<b>Pro</b>Gest{% endblock %}
        </div>
        <div class="login-box-body">
            <div class="login-box-msg">
                <h3 class="login-head">
                    {% block login_box_icon %}{% endblock %}
                    {% block login_box_msg %}{% endblock %}
                </h3>
                {% block login_box_error %}
                    {% if error|default(false) %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                {% endblock %}

                {% block login_box_success %}
                    {% for flash in app.flashes('success') %}
                        <div class="alert alert-success">{{ flash }}</div>
                    {% endfor %}
                {% endblock %}
            </div>
            {% block login_form %}{% endblock %}
            <hr>
            {% block login_social_auth %}{% endblock %}
            {% block login_actions %}{% endblock %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/adminlte/adminlte.js') }}"></script>
{% endblock %}

</body>
</html>
