<div class="box box-primary">
    <ul class="list-group box-body">
        <li class="list-group-item list-group-item-info">General</li>
        <li class="list-group-item">Users</li>
        <li class="list-group-item">Roles & permissions</li>
        <li class="list-group-item">Measurements unities</li>
        <li class="list-group-item">Payments Modes</li>
    </ul>
</div>